**/__pycache__
**/.DS_Store
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
tests/dataset/*.pkl
tests/*.ipynb
tests/*.csv
*.pyc
**/.coverage
**/.coverage.*
benchmarks/results
benchmarks/outputs
benchmarks/dataset
benchmarks/lfwe
venv
cudnn-local-repo-ubuntu2204-8.9.7.29_1.0-1_amd64.deb
